<ul class="list-group">
    <li [class]="getAllCategoryClass()" routerLink = "/products">Tüm Ürünler</li>
    <li (click)="setCurrentCategory(category)" 
      routerLink = "/products/category/{{category.categoryId}}" 
      *ngFor="let category of categories" 
      [class]="getCurrentCategoryClass(category)">
      {{category.categoryName}}</li>    <!-- komponennteki bir bilgi ile değiştirmek istiyor isen [class] kullan-->
  </ul>

  <!-- routerLink = "/products/category/{{category.categoryId}}"  hangi kategoriye gidecek yönlendirme işlemi-->
  <h5 *ngIf="currentCategory"> {{currentCategory.categoryName}} seçtiniz</h5>       <!-- *ngIf="currentCategory" yani null değilse -->
  