 <!-- Welcome to {{title}}<br>
 Hello {{user}}<br>
 <br>
 {{product1.productName}}<br>
  
 <ul>
   <li *ngFor="let product of products">{{product.productName}}</li>   
 </ul> -->

 <!-- -------------------------------------------------------- -->
<!-- built-in  -kendi içinde olan demek  ngFor bir direktiftir -->
<!--Angular için önemli Directive ngFor şu an bulunduğum satırı tekrarla demek-->
<!--app/components klasörüne sağ tıkla "Open in integrated terminal" tıkla
  yeni komponent oluşturmak için
  ng g component product
  ng g component category
  ng g component navi
g - generate -->

<!-- npm install bootstrap -->
<!-- angular.json dosyasına bootstrap stillerini ekle 
"./node_modules/bootstrap/dist/css/bootstrap.min.css",

terminal ekranına git 2:note seçili iken Ctrl + C diyerek yayını durdur
y - Yes de
ng serve --open diyerek yayını tekrar başlat
 -->

 <!-- Bracket Pair Coloriser extensionunu yükle (renklendirmeler için)-->
<!-- Prettier - Code Formatter extensionunu yükle (formatlama için)-->

<div class="container">
  <app-navi></app-navi>

  <div class="row">
    <div class="col-md-3">
      <app-category></app-category>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>    
  </div>  
    
</div>

<!-- div ekranı 12 eşit parçaya böler-->
